{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-black"><strong>Kaylee's Flask Home Page</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img src="https://github.com/kayleehou/flask-/blob/main/images/friends.PNG?raw=true" width="477" height="280" />
                    <div class="card-body">
                    <h5 class="card-title">Fun Facts About Me!</h5>
                    <p class="card-text">
                        <ol>
                            <li>My birthday is the day before Halloween, so I'm a scorpio!</li>
                            <li>My lucky number is 8, I want to get a tattoo of the number in chinese on my waist when I'm older (if I don't think it's cringey by then).</li>
                            <li>I have an older sister Irene who is a UX/UI designer at a startup</li>
                            <li>My only pet was a fish when I was 5</li>
                            <li>I'm working at UCSD right now as research assitant in the Comparative Cognition Lab, I'm working on a children's gender study at the moment</li>
                            <li>My favorite animal is an elephant.</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img src="https://github.com/kayleehou/flask-/blob/main/images/IMG_0057.jpg?raw=true" width="477" height="280" />
                    <div class="card-body">
                    <h5 class="card-title">Hobbies/Interests:</h5>
                    <p class="card-text">
                        <ol>
                            <li>I play the guitar, piano, and ukulele.</li>
                            <li>I like to sing and songwrite, I also have a Youtube channel where I post covers and originals!</li>
                            <li>I'm apart of Link Crew, NHS, Class Council, The Featheralist and Girls in CS.</li>
                            <li>I have a second degree black belt in Tae Kwon Do.</li>
                            <li>I am bilingual, I also speak Chinese.</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img src="https://github.com/kayleehou/flask-/blob/main/images/rex.PNG?raw=true" width="477" height="280" />
                    <div class="card-body">
                    <h5 class="card-title">My favorite Artists:</h5>
                    <p class="card-text">
                        <ol>
                            <li>NIKI (I'm going to her concert in October!!!)</li>
                            <li>Lana Del Rey</li>
                            <li>Rex Orange County (I went to his concert in May and it was so much fun)</li>
                            <li>Dominic Fike</li>
                            <li>keshi</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}