<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>About Me</strong></h1>
        <p class="text-secondary">Hi, my name is Kaylee and I'm a senior at Del Norte High School, I've always wanted to learn computer science and I'm going to college next year and something that I'm super interested in majoring in is cognitive science with a machine learning specialization and this class will help me achieve my goals as well as teach me problem solving skills that will be helpful in anything I pursue in the future.</p>
        <p class="text-secondary">here is my schedule for school this year:</p>
        <table>
            <tr>
              <th>Trimester 1  </th>
              <th>Trimester 2  </th>
              <th>Trimester 3  </th>
            </tr>
            <tr>
              <td>AP Lit</td>
              <td>AP Lit</td>
              <td>AP Lit</td>
            </tr>
            <tr>
              <td>AP Stats</td>
              <td>AP Stats</td>
              <td>AP Stats</td>
            </tr>
            <tr>
                <td>APCSP</td>
                <td>APCSP</td>
                <td>APCSP</td>
              </tr>
              <tr>
                <td>HBS</td>
                <td>HBS</td>
                <td>Civics</td>
              </tr>
                <td>Economics</td>
                <td>offroll</td>
                <td>offroll</td>
              </tr>
          </table>
          <html>
            <head>
            <style>
            * {
              box-sizing: border-box;
            }
            
            .column {
              float: left;
              width: 33.33%;
              padding: 5px;
            }
            
            /* Clearfix (clear floats) */
            .row::after {
              content: "";
              clear: both;
              display: table;
            }
            </style>
            </head>
            <body>
            
            <div class="row">
              <div class="column">
                <img src="https://github.com/kayleehou/flask-/blob/main/images/becah.PNG?raw=true" width="377" height="240" />
              </div>
              <div class="column">
                <img src="https://github.com/kayleehou/flask-/blob/main/images/camp.PNG?raw=true" width="377" height="300" />
              </div>
              <div class="column">
                <img src="https://github.com/kayleehou/flask-/blob/main/images/goats.PNG?raw=true" width="350" height="320" />
              </div>
            </div>

            </body>
            </html>
        <p class="text-secondary">the picture on the left is me with my friends at the beach on the last day of school. The picture in the middle is when I was a volunteer at the National Inventors Hall of Fame's Camp Invention, this was such a fun week, we got to help kids make inventions and learn about STEAM! Finally, the picture on the right is when I went horse back riding with my family this summer and the place there also had baby goats! Fun fact, baby goats are called kids. </p>
    </div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
